<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>APP信息管理系统</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<style type="text/css">
		h1{
			margin-top: 50px;
		}
		a{
			display: block;
			margin-top: 50px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>APP信息管理平台</h1>
		<a href="./manager/login.html">后台管理系统</a>
		<a href="./dev/login.html">开发者平台</a>
	</div>

	<script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	
</body>
</html>